<p-confirmDialog #cd key="borrar-id" styleClass="pedo">
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Aceptar"
      class="p-button-rounded btn-h btn-primary"
      (click)="cd.accept()"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      class="p-button-rounded btn-h btn-secondary"
      label="Cancelar"
      (click)="cd.reject()"
    ></button>
  </ng-template>
</p-confirmDialog>
<p-confirmDialog #blockDelete key="block-delete-id" styleClass="pedo">
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Aceptar"
      class="p-button-rounded btn-h btn-primary"
      (click)="blockDelete.accept()"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      class="p-button-rounded btn-h btn-secondary"
      label="Cancelar"
      (click)="blockDelete.reject()"
    ></button>
  </ng-template>
</p-confirmDialog>
<div class="container-table">
  <p-table
    [columns]="cols"
    [value]="recurringEvents"
    responsiveLayout="stack"
    styleClass="p-datatable-sm"
    [paginator]="true"
    [rows]="10"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="title-2 m-0">Wods Configurados</h5>
        <button
          pButton
          pRipple
          label="Nuevo Wod"
          icon="pi pi-plus"
          class="p-button-rounded btn-h btn-primary"
          (click)="newEvent()"
        ></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr class="title-2">
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr class="title-2">
        <td>
          {{ rowData.recurringEvents["title"] }}
        </td>
        <td>
          {{ rowData.recurringEvents["rrule"].byweekday[0] | day }}
        </td>
        <td>
          {{ rowData.recurringEvents["date"].start | CustomDate }}
        </td>
        <td>
          {{ rowData.recurringEvents["date"].end | CustomDate }}
        </td>
        <td>
          {{ rowData.recurringEvents["state"] }}
        </td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="delete(rowData)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-calendar (deleteEvent)="deleteEvent($event)"></app-calendar>
