.color-grid {
  width: 50px;
  height: 20px;
  border: 1px solid black;
}

::ng-deep {
  .p-dialog.p-confirm-dialog .p-confirm-dialog-message {
    font-family: var(--font-family-principal);
  }

  .p-dialog .p-dialog-header {
    font-family: var(--font-family-secondary);
    padding: 1rem 1.5rem;
  }
}

.container-table {
  margin: 50px;
}

@media (max-width: 600px) {
  ::ng-deep {
    .p-dialog {
      width: 100% !important;
    }

    .p-datepicker {
      padding: 0;
    }
    .p-datepicker .p-datepicker-header,
    .p-datepicker .p-timepicker,
    .p-datepicker .p-timepicker > div {
      padding: 0;
    }
  }
}
