<div class="header">
  <div class="header-container">
    <img src="../../../assets/icons/tai-center-logo-full-color.svg" />
    <p class="content-secondary s-25">
      Tu centro de entrenamiento en Bellreguard
    </p>
    <button
      pButton
      pRipple
      type="button"
      class="p-button-rounded btn-h btn-primary mt-10"
      label="Acceder"
      icon="pi pi-user"
      routerLink="/login"
    ></button>
  </div>
</div>
<div class="plan-container">
  <h1 class="hard-title">Tarifas</h1>
  <div class="plan-container-cards">
    <p-card header="1 Semana">
      <ng-template pTemplate="header">
        <span class="hard-title fs-50">22€</span>
      </ng-template>
      <div class="class">
        <h4>5 clases</h4>
        <p>CROSS TRAINING, G.A.P, H.I.I.T</p>
      </div>
    </p-card>
    <p-card header="1/2 Mes">
      <ng-template pTemplate="header">
        <span class="hard-title fs-50">30€</span>
      </ng-template>
      <div class="class">
        <h4>10 clases</h4>
        <p>CROSS TRAINING, G.A.P, H.I.I.T</p>
      </div>
    </p-card>
    <p-card header="Básico">
      <ng-template pTemplate="header">
        <span class="hard-title fs-50">38€</span>
      </ng-template>
      <div class="class">
        <h4>12 clases</h4>
        <p>CROSS TRAINING, G.A.P, H.I.I.T</p>
      </div>
    </p-card>
    <p-card header="Intermedio">
      <ng-template pTemplate="header">
        <span class="hard-title fs-50">48€</span>
      </ng-template>
      <div class="class">
        <h4>24 clases</h4>
        <p>CROSS TRAINING, G.A.P, H.I.I.T y OPEN CENTER</p>
      </div>
    </p-card>
    <p-card header="Avanzado">
      <ng-template pTemplate="header">
        <span class="hard-title fs-50">50€</span>
      </ng-template>
      <div class="class">
        <h4>Clases ilimitadas</h4>
        <p>CROSS TRAINING, G.A.P, H.I.I.T y OPEN CENTER</p>
      </div>
    </p-card>
    <p-card header="Bono">
      <ng-template pTemplate="header">
        <span class="hard-title fs-50">60€</span>
      </ng-template>
      <div class="class">
        <h4>10 Clases</h4>
        <p>CROSS TRAINING, G.A.P, H.I.I.T y OPEN CENTER</p>
      </div>
    </p-card>
  </div>
</div>
<app-footer></app-footer>
