.header {
  background-image: url("../../../assets/img/tai-center-header.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  z-index: 1;
  background-size: cover;
  display: grid;
  align-content: center;
  padding-bottom: 10px;
  height: 100vh;

  img {
    width: 60%;
  }
  &-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
    gap: 20px;

    &-img {
      width: 100%;
    }
  }
}

.wod-header {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  padding: 10px 10px;
}

.content-secondary {
  font-family: var(--font-family-secondary);
}

.plan-container {
  text-align: center;
  padding: 0 50px;
  margin-top: 50px;

  .new-schedule {
    height: 550px;
    width: 700px;
  }

  &-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }

  &-wods {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    .wod {
      display: grid;
      grid-template-columns: 1fr 1fr;
      img {
        justify-self: center;
        margin-top: 5px;
        align-self: center;
      }
      .cross-img {
        height: 90px;
        width: 129px;
      }

      .hiit-img {
        height: 110px;
        width: 129px;
      }

      p {
        font-family: var(--font-family-principal);
      }
    }
  }
}

:host {
  ::ng-deep {
    .p-card .p-card-body {
      padding: 1rem;
    }

    .p-card .p-card-content {
      padding: 0;
    }

    .p-card-title {
      font-family: var(--font-family-secondary);
      color: var(--color-text-principal);
    }

    .p-card .p-card-subtitle {
      font-family: var(--font-family-principal);
      color: var(--color-text-content-secondary);
    }

    .p-button.p-button-icon-only.p-button-rounded {
      justify-self: center;
      margin-top: 20px;
      border: 2px solid;
      color: var(--color-text-principal);
    }

    .p-button:focus {
      outline: 0 none;
      outline-offset: 0;
      box-shadow: 0 0 0 0.2rem var(--color-text-principal);
    }

    .p-button.p-button-outlined:enabled:hover {
      background: rgba(33, 150, 243, 0.04);
      color: var(--color-text-principal);
      border: 1px solid;
    }
  }
}

.fs-50 {
  font-size: 50px;
}

.class {
  background-color: var(--color-text-content-secondary);
  font-family: var(--font-family-principal);
  color: var(--color-text-principal);
  border-radius: 3px;
  padding: 10px 10px;
  font-size: 20px;
  h4 {
    margin: 0;
    font-weight: 900;
  }
}

@media (max-width: 900px) {
  .plan-container {
    padding: 0 20px;

    &-cards {
      grid-template-columns: 1fr 1fr;
      gap: 40px;
    }
  }
}

@media (max-width: 500px) {
  .plan-container {
    padding: 0 10px;

    &-cards {
      grid-template-columns: 1fr;
    }
  }
}
