<div class="header">
  <div class="header-container">
    <div class="header-container-img">
      <img src="../../../assets/icons/tai-center-logo-full-color.svg" />
    </div>
    <p class="content-secondary s-25">
      Tu centro de entrenamiento en Bellreguard
    </p>
    <button
      pButton
      pRipple
      type="button"
      class="p-button-rounded btn-h btn-primary mt-10"
      label="Acceder"
      icon="pi pi-user"
      routerLink="/login"
    ></button>
    <div>
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-arrow-down"
        class="p-button-rounded p-button-outlined"
        (click)="move()"
      ></button>
      <p class="content-secondary">Conoce más</p>
    </div>
  </div>
</div>
<!--<img src="../../../assets/img/cross.png" />
<img src="../../../assets/img/taekwondo.png" />-->
<!--<div class="plan-container">
  <h1 class="hard-title">Wods Disponibles</h1>
  <div class="plan-container-wods">
    <p-card>
      <ng-template pTemplate="header">
        <div class="wod-header">
          <span class="hard-title">CROSS TRAINING</span>
        </div>
      </ng-template>
      <div class="wod">
        <img class="cross-img" src="../../../assets/img/cross.png" />
        <p>
          El Cross Training es un deporte que engloba diferentes ejercicios de
          alta intensidad, tanto de fuerza como cardiovasculares, para trabajar
          todos los grupos musculares. Su principal objetivo es potenciar la
          condición física del deportista e incrementar su rendimiento deportivo
        </p>
      </div>
    </p-card>
    <p-card>
      <ng-template pTemplate="header">
        <div class="wod-header">
          <span class="hard-title">H.I.I.T</span>
        </div>
      </ng-template>
      <div class="wod">
        <img class="hiit-img" src="../../../assets/img/hiit.png" />
        <p>
          El HIIT (siglas de “High Intensity Interval Trainging”, que significa
          “entrenamiento interválico de alta intensidad”) es un tipo de
          entrenamiento deportivo basado en sesiones de intervalos cortos y muy
          intensos que alternan esfuerzo y recuperación.
        </p>
      </div>
    </p-card>
    <p-card>
      <ng-template pTemplate="header">
        <div class="wod-header">
          <span class="hard-title">G.A.P</span>
        </div>
      </ng-template>
      <div class="wod">
        <img class="hiit-img" src="../../../assets/img/hiit.png" />
        <p>
          El HIIT (siglas de “High Intensity Interval Trainging”, que significa
          “entrenamiento interválico de alta intensidad”) es un tipo de
          entrenamiento deportivo basado en sesiones de intervalos cortos y muy
          intensos que alternan esfuerzo y recuperación.
        </p>
      </div>
    </p-card>
  </div>
</div>-->
<div class="plan-container">
  <h1 class="hard-title">Atención</h1>
  <img src="../../../assets/img/new-schedule.jpeg" class="new-schedule" />
</div>

<div class="plan-container" id="tarifas">
  <h1 class="hard-title">Tarifas</h1>
  <div class="plan-container-cards">
    <p-card header="1 Semana">
      <ng-template pTemplate="header">
        <span class="hard-title fs-50">22€</span>
      </ng-template>
      <div class="class">
        <h4>5 clases</h4>
        <p>CROSS TRAINING, G.A.P, H.I.I.T</p>
      </div>
    </p-card>
    <p-card header="1/2 Mes">
      <ng-template pTemplate="header">
        <span class="hard-title fs-50">30€</span>
      </ng-template>
      <div class="class">
        <h4>10 clases</h4>
        <p>CROSS TRAINING, G.A.P, H.I.I.T</p>
      </div>
    </p-card>
    <p-card header="Básico">
      <ng-template pTemplate="header">
        <span class="hard-title fs-50">38€</span>
      </ng-template>
      <div class="class">
        <h4>12 clases</h4>
        <p>CROSS TRAINING, G.A.P, H.I.I.T</p>
      </div>
    </p-card>
    <p-card header="Intermedio">
      <ng-template pTemplate="header">
        <span class="hard-title fs-50">48€</span>
      </ng-template>
      <div class="class">
        <h4>24 clases</h4>
        <p>CROSS TRAINING, G.A.P, H.I.I.T y OPEN CENTER</p>
      </div>
    </p-card>
    <p-card header="Avanzado">
      <ng-template pTemplate="header">
        <span class="hard-title fs-50">50€</span>
      </ng-template>
      <div class="class">
        <h4>Clases ilimitadas</h4>
        <p>CROSS TRAINING, G.A.P, H.I.I.T y OPEN CENTER</p>
      </div>
    </p-card>
    <p-card header="Bono">
      <ng-template pTemplate="header">
        <span class="hard-title fs-50">60€</span>
      </ng-template>
      <div class="class">
        <h4>10 Clases</h4>
        <p>CROSS TRAINING, G.A.P, H.I.I.T y OPEN CENTER</p>
      </div>
    </p-card>
  </div>
</div>
<div class="plan-container">
  <h1 class="hard-title">Calendario</h1>
</div>
<app-calendar></app-calendar>

<app-footer></app-footer>
