<div class="header">
  <div class="header-container">
    <div class="header-container-img">
      <img src="../../../assets/icons/tai-center-logo-full-color.svg" />
    </div>
    <p class="content-secondary s-25">
      Tu centro de entrenamiento en Bellreguard
    </p>
    <button
      pButton
      pRipple
      type="button"
      class="p-button-rounded btn-h btn-primary mt-10"
      label="Acceder"
      icon="pi pi-user"
      routerLink="/login"
    ></button>
    <div>
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-arrow-down"
        class="p-button-rounded p-button-outlined"
        (click)="move()"
      ></button>
      <p class="content-secondary">Conoce más</p>
    </div>
  </div>
</div>
<div class="plan-container">
  <h1 class="hard-title">Equipo Tai en las carreras OCR</h1>
  <p class="gallery-description">
    Hemos estado presente en varias carreras <a>OCR</a>, nuestros atletas no
    solo pusieron a prueba su destreza fisica, sino que también pasaron un
    tiempo agradable en familia y amigos, eso sí, la comida y la cerveza al
    final de la carrera no faltaron!!!
  </p>
  <app-gallery></app-gallery>
</div>

<div class="plan-container" id="tarifas">
  <h1 class="hard-title">Tarifas</h1>
  <div class="plan-container-cards">
    <p-card header="1 Semana">
      <ng-template pTemplate="header">
        <span class="hard-title fs-50">24€</span>
      </ng-template>
      <div class="class">
        <h4>5 clases</h4>
        <p>CROSS TRAINING, G.A.P, H.I.I.T</p>
      </div>
    </p-card>
    <p-card header="1/2 Mes">
      <ng-template pTemplate="header">
        <span class="hard-title fs-50">32€</span>
      </ng-template>
      <div class="class">
        <h4>10 clases</h4>
        <p>CROSS TRAINING, G.A.P, H.I.I.T</p>
      </div>
    </p-card>
    <p-card header="Básico">
      <ng-template pTemplate="header">
        <span class="hard-title fs-50">40€</span>
      </ng-template>
      <div class="class">
        <h4>12 clases</h4>
        <p>CROSS TRAINING, G.A.P, H.I.I.T</p>
      </div>
    </p-card>
    <p-card header="Intermedio">
      <ng-template pTemplate="header">
        <span class="hard-title fs-50">50€</span>
      </ng-template>
      <div class="class">
        <h4>24 clases</h4>
        <p>CROSS TRAINING, G.A.P, H.I.I.T y OPEN CENTER</p>
      </div>
    </p-card>
    <p-card header="Avanzado">
      <ng-template pTemplate="header">
        <span class="hard-title fs-50">52€</span>
      </ng-template>
      <div class="class">
        <h4>Clases ilimitadas</h4>
        <p>CROSS TRAINING, G.A.P, H.I.I.T y OPEN CENTER</p>
      </div>
    </p-card>
    <p-card header="Bono">
      <ng-template pTemplate="header">
        <span class="hard-title fs-50">60€</span>
      </ng-template>
      <div class="class">
        <h4>10 Clases</h4>
        <p>CROSS TRAINING, G.A.P, H.I.I.T y OPEN CENTER</p>
      </div>
    </p-card>
  </div>
</div>
<div class="plan-container">
  <h1 class="hard-title">Calendario</h1>
</div>
<app-calendar></app-calendar>

<app-footer></app-footer>
