.formContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.color-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  gap: 20px;
  font-family: var(--font-family-principal);
}

::ng-deep .p-dialog .p-dialog-content {
  padding: 20px 20px;
  overflow: hidden;
}

::ng-deep .p-dialog .p-dialog-header {
  padding: 10px 1.5rem;
}

.custom-error {
  border: solid #e60017;
  border-width: 1px 1px 1px 3px;
}

@media (max-width: 600px) {
  .formContainer {
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
}

@media (max-width: 450px) {
  .formContainer {
    grid-template-columns: 1fr;
    gap: 25px;
  }
}
