<p-dialog
  header="Editor de clases"
  [visible]="display$ | async"
  (onHide)="onHideDialog()"
  [closable]="false"
  [modal]="true"
>
  <form [formGroup]="form">
    <div class="formContainer">
      <span class="p-float-label">
        <input
          formControlName="nombre"
          id="float-input"
          type="text"
          pInputText
          appControlError
        />
        <label for="float-input">Nombre clase</label>
      </span>

      <span class="color-container">
        <label>Color primario</label>
        <input formControlName="colorPrimario" id="float-input" type="color" />
      </span>
      <span class="color-container">
        <label>Color secundario</label>
        <input
          formControlName="colorSecundario"
          id="float-input"
          type="color"
        />
      </span>
      <span class="p-float-label">
        <p-dropdown
          inputId="dropdown"
          [autoDisplayFirst]="false"
          [options]="days"
          optionLabel="name"
          optionValue="code"
          formControlName="dia"
          appendTo="body"
        ></p-dropdown>
        <label for="dropdown">Día</label>
      </span>
      <span class="p-float-label">
        <input
          id="float-input"
          type="text"
          pInputText
          mwlFlatpickr
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          [minDate]="minDateFechaInicio"
          formControlName="fechaInicio"
        />
        <label for="float-input">Fecha Inicio</label>
      </span>
      <span class="p-float-label">
        <input
          id="float-input"
          type="text"
          pInputText
          mwlFlatpickr
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          [minDate]="minDateFechaFin"
          formControlName="fechaFin"
        />
        <label for="float-input">Fecha Fin</label>
      </span>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Guardar"
      icon="pi pi-check"
      class="p-button-rounded btn-h btn-primary"
      (click)="closeDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-rounded btn-h btn-secondary"
      (click)="cancelDialog()"
    ></button>
  </ng-template>
</p-dialog>
