.footer-container {
  position: relative;
  bottom: 0;
  left: 0;
  top: 35px;
  background-image: url("../../../assets/img/tai-center-footer-1024x403.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  z-index: 1;
  background-size: cover;

  &-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    padding-bottom: 20px;

    .footer-social-media {
      text-align: center;
      ::ng-deep .pi-instagram {
        color: white;
        font-size: 2rem;
      }
    }

    .footer-address {
      text-align: center;
    }

    .footer-description {
      text-align: center;
      img {
        width: 150px;
      }
      P {
        text-align: center;
        padding: 0 50px;
      }
    }
  }
}

::ng-deep .divider {
  &.p-divider-horizontal {
    color: var(--color-text-principal);
    margin: 0;

    &:before {
      border-top: 1px solid var(--color-text-principal);
    }
  }
}

.footer-bottom {
  text-align: center;
}

@media (max-width: 780px) {
  .footer-container {
    &-body {
      grid-template-columns: 1fr;
      justify-content: center;
      align-content: center;
    }
  }
}
