::ng-deep {
  p {
    margin: 0;
  }
  .p-dialog .p-dialog-header {
    padding: 1rem 1.5rem 0.5rem 1.5rem;
    font-family: var(--font-family-secondary);
  }

  .p-dialog-content {
    overflow-y: inherit;
  }

  .p-calendar {
    width: 100%;
  }

  .p-datepicker {
    font-family: var(--font-family-principal);
  }

  .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month,
  .p-datepicker-year {
    font-family: var(--font-family-principal);
  }
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 30px;
}

.button-container {
  text-align: center;
  margin-top: 30px;
}

@media (max-width: 600px) {
  .form-container {
    grid-template-columns: 1fr;
  }

  ::ng-deep {
    .p-dialog .p-dialog-header .p-dialog-title {
      font-size: 1rem;
    }

    .p-dialog-content {
      overflow: auto;
      overflow-y: auto;
    }
  }
}
