<div class="container-customer">
  <div class="color-container">
    <span>
      <p-colorPicker [(ngModel)]="colorEnd"></p-colorPicker>
      <label> Suscripción vencida </label>
    </span>
    <span>
      <p-colorPicker [(ngModel)]="colorPending"></p-colorPicker>
      <label> Suscripción a punto de vencer</label>
    </span>
  </div>
  <p-table
    [columns]="cols"
    [value]="users"
    responsiveLayout="stack"
    styleClass="p-datatable-sm"
    [paginator]="true"
    [rows]="10"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="title-2 m-0">Personas Inscritas</h5>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr class="title-2">
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr class="title-2">
        <td>
          {{ rowData["name"] }}
        </td>
        <td>
          {{ rowData["lastName"] }}
        </td>
        <td>
          {{ rowData["phoneNumber"] }}
        </td>
        <td>
          {{ rowData["plan"] }}
        </td>
        <td
          [ngClass]="
            rowData['state'] === 'Pendiente'
              ? 'pending-status'
              : rowData['state'] === 'Activo'
              ? 'ok-status '
              : 'ko-status'
          "
        >
          {{ rowData["state"] }}
        </td>
        <td>
          {{ rowData["startDate"] | CustomDate }}
        </td>
        <td [dateColor]="rowData['endDate']" *ngIf="rowData['plan'] !== 'Bono'">
          {{ rowData["endDate"] | CustomDate }}
        </td>
        <td *ngIf="rowData['plan'] === 'Bono'">
          {{ rowData["endDate"] | CustomDate }}
        </td>
        <button
          pButton
          pRipple
          pTooltip="Gestionar usuario"
          tooltipPosition="top"
          icon="pi pi-cog"
          class="p-button-rounded p-button-warning"
          (click)="enableUser(rowData)"
        ></button>
      </tr>
    </ng-template>
  </p-table>
</div>
