<div class="images-container" *ngIf="show">
  <div *ngFor="let o of ocr">
    <h3>{{ o.city }}</h3>
    <p-galleria
      [value]="o.urlImages"
      [circular]="true"
      [autoPlay]="true"
      [responsiveOptions]="responsiveOptions"
      [containerStyle]="{ 'max-width': '100%' }"
      [showThumbnails]="false"
      [showItemNavigators]="true"
      [showItemNavigatorsOnHover]="true"
      [transitionInterval]="4000"
    >
      <ng-template pTemplate="item" let-item>
        <picture>
          <img [src]="item.url" style="width: 100%; display: block" />
        </picture>
      </ng-template>
    </p-galleria>
  </div>
</div>
