<div class="container">
  <p-card>
    <app-error-form [form]="formGroup"></app-error-form>
    <p class="text-style-principal">
      A continuación es necesario que ingrese los datos para crear tu perfil en
      Tai Center.
    </p>
    <form [formGroup]="formGroup">
      <div class="form-personal">
        <span class="p-float-label">
          <input
            formControlName="email"
            id="email-input"
            type="email"
            pInputText
            autocomplete="off"
          />
          <label for="float-input">Correo</label>
        </span>
        <span class="p-float-label">
          <input
            formControlName="repeatEmail"
            id="repeatEmail-input"
            type="email"
            pInputText
          />
          <label for="float-input">Confirmar correo</label>
        </span>
        <span class="p-float-label">
          <input
            formControlName="password"
            id="password-input"
            type="password"
            pInputText
            autocomplete="off"
          />
          <label for="float-input">Contraseña</label>
        </span>
        <span class="p-float-label">
          <input
            formControlName="repeatPassword"
            id="repeatPassword-input"
            type="password"
            pInputText
            autocomplete="off"
          />
          <label for="float-input">Confirmar contraseña</label>
        </span>
      </div>
      <div class="form-button">
        <button
          pButton
          pRipple
          type="button"
          class="p-button-rounded btn-h btn-primary"
          label="Registrarse"
          [disabled]="formGroup.invalid"
          (click)="save()"
        ></button>
      </div>
    </form>
  </p-card>
</div>
