<div class="container">
  <h5 class="hard-title s-25">Registro</h5>
  <p-card>
    <p class="text-style-principal">
      A continuación es necesario que ingrese los datos para crear tu perfil en
      Tai Center.
    </p>
    <form [formGroup]="formGroup">
      <div class="form-personal">
        <span class="p-float-label">
          <input
            formControlName="email"
            id="float-input"
            type="text"
            pInputText
            autocomplete="off"
          />
          <label for="float-input">Correo</label>
        </span>
        <span class="p-float-label">
          <input
            formControlName="repeatEmail"
            id="float-input"
            type="text"
            pInputText
            autocomplete="off"
          />
          <label for="float-input">Confirmar correo</label>
        </span>
        <span class="p-float-label">
          <input
            formControlName="password"
            id="float-input"
            type="text"
            pInputText
            autocomplete="off"
          />
          <label for="float-input">Contraseña</label>
        </span>
        <span class="p-float-label">
          <input
            formControlName="repeatPassword"
            id="float-input"
            type="text"
            pInputText
            autocomplete="off"
          />
          <label for="float-input">Confirmar contraseña</label>
        </span>
      </div>
      <div class="form-button">
        <button
          pButton
          pRipple
          type="button"
          class="p-button-rounded btn-h btn-primary"
          label="Guardar"
          (click)="save()"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          class="p-button-rounded btn-h btn-secondary"
          label="Regresar"
          routerLink="/tc/login"
        ></button>
      </div>
    </form>
  </p-card>
</div>
