.form-personal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.form-button {
  text-align: center;
  margin-top: 20px;
}

p {
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .form-personal {
    grid-template-columns: 1fr;
  }

  .form-button {
    gap: 50px;
  }

  .p-button {
    font-size: 12px;
  }
  ::ng-deep {
    .p-dialog {
      width: 80% !important;
    }
  }
}

::ng-deep {
  .p-component-overlay {
    z-index: 1 !important;
  }

  .p-dialog .p-dialog-header .p-dialog-title {
    text-align: center;
    font-family: var(--font-family-secondary);
    width: 100%;
  }
  .p-card {
    margin-top: 10px;
  }
  .p-card .p-card-content {
    padding: 0;
  }
}
