::ng-deep {
  .p-dialog .p-dialog-content {
    padding: 20px 20px;
  }

  .p-calendar {
    width: 100%;
  }

  /*.p-datepicker {
    width: 100%;
    top: 25% !important;
    font-family: var(--font-family-principal);
  }*/

  .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month,
  .p-datepicker-year {
    font-family: var(--font-family-principal);
  }
}

.formContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.color-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  gap: 20px;
  font-family: var(--font-family-principal);
}

.button-container {
  margin-top: 20px;
  text-align: center;
  button {
    margin: 10px 20px;
  }
}
@media (max-width: 600px) {
  .formContainer {
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  ::ng-deep {
    .p-datepicker {
      top: 200px !important;
    }
  }
}

@media (max-width: 450px) {
  .formContainer {
    grid-template-columns: 1fr;
    gap: 25px;
  }
}
