@import "variable";

body {
  margin: 0;
}

.container {
  display: grid;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

.title {
  color: var(--color-text-principal);
  margin: 0;
  padding: 10px 0;
}

.title-secondary {
  color: white;
}

.btn-h {
  height: 30px;
}

.btn-google {
  background: var(--color-text-principal) !important;
  border: 1px solid var(--color-text-principal) !important;
}

.btn-google:focus {
  box-shadow: 0 0 0 0.1rem var(--color-text-principal) !important;
}

.btn-primary {
  background: var(--color-text-principal) !important;
  color: black !important;
  font-weight: 700 !important;
  border: 1px solid var(--color-text-principal) !important;

  &:focus {
    box-shadow: 0 0 0 0.1rem var(--color-text-principal) !important;
  }
}

.btn-secondary {
  background: black !important;
  color: var(--color-text-principal) !important;
  border: 1px solid black !important;

  &:focus {
    box-shadow: 0 0 0 0.1rem black !important;
  }
}

.p-inputtext {
  width: 100%;
  &:enabled:hover {
    border-color: var(--color-text-principal) !important;
  }

  &:focus {
    box-shadow: 0 0 0 0.1rem var(--color-text-principal) !important;
    border-color: var(--color-text-principal) !important;
  }
}

.p-dropdown {
  width: 100%;
  &:hover {
    border-color: var(--color-text-principal) !important;
  }
}

.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: 0 0 0 0.1rem var(--color-text-principal) !important;
  border-color: var(--color-text-principal) !important;
}

.content-secondary {
  color: var(--color-text-content);
  margin: 0;
  padding: 5px 0;
}
