.container-wods {
  padding: 50px;
}

.title {
  margin-bottom: 20px;
  color: black;
}

::ng-deep {
  .p-panel .p-panel-header .p-panel-title {
    font-family: var(--font-family-secondary);
    color: black;
  }

  .cross {
    .p-panel-header {
      background-color: rgb(249, 251, 121);
    }
  }

  .hiit {
    .p-panel-header {
      background-color: rgb(192, 173, 48);
    }
  }

  .halterofilia {
    .p-panel-header {
      background-color: rgb(204, 96, 24);
    }
  }

  .halterofilia {
    .p-panel-header {
      background-color: rgb(204, 96, 24);
    }
  }

  .gymnastic {
    .p-panel-header {
      background-color: rgb(110, 116, 235);
    }
  }

  .open-center {
    .p-panel-header {
      background-color: rgb(223, 52, 52);
    }
  }

  .tabata {
    .p-panel-header {
      background-color: rgb(192, 173, 48);
    }
  }

  .gap {
    .p-panel-header {
      background-color: rgb(34, 195, 61);
    }
  }
}

@media (max-width: 600px) {
  ::ng-deep {
    .p-message .p-message-wrapper {
      display: grid;
      align-items: center;
      text-align: center;
      padding: 0.5rem 0.5rem;
    }
  }
}
