.register-container {
  display: grid;
  grid-template-columns: 20% 80%;
  align-content: center;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}
.perfil {
  text-align: center;
}

.img-size {
  border-radius: 100%;
  width: 116px;
  height: 116px;
}

figure {
  margin: 0;
}

input[type="file"] {
  display: none;
}

.perfil-label {
  font-size: 11x;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: #ce5505;
  }
}

.form-personal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

h4 {
  margin: 0;
}

.form-button {
  display: grid;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

::ng-deep .p-card .p-card-body {
  padding: 0 2rem;
}

.ok-status {
  background: #c8e6c9;
  color: #256029;
  padding: 0.25em 0.5rem;
}

.ko-status {
  background: #ffcdd2;
  color: #c63737;
  padding: 0.25em 0.5rem;
}

.pending-status {
  background-color: #ffd8b2;
  color: #805b36;
  padding: 0.25em 0.5rem;
}
.done-status {
  background-color: #c0bcb7;
  color: #5a5856;
  padding: 0.25em 0.5rem;
}

@media (max-width: 600px) {
  .register-container {
    grid-template-columns: 1fr;
  }

  .p-button {
    font-size: 12px;
  }
}
